<!-- @format -->

{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="navbar">
    <h1>Users and Score</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a class="btn btn-primary me-md-2" href="{% url 'add_task' %}" type="button">Add Task for User</a>
      <a class="btn btn-success" href="{% url 'add_user' %}" type="button">Add User</a>
    </div> 
  </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Score</th>
          <th scope="col">Position</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td class="text-center">{{user.score}}<i class="fa-solid fa-star " style="color: #fff700;"></i></td>
          <td>{{user.position}}</td>
          <td class="text-center">
            <a
              type="button"
              href="{% url "user_status" user.id %}"
              class="btn btn-primary"
            >
              view</a
            >
          </td> 
          <td  class="text-center">
              <a href="{% url 'edit_user' user.id %}">
                <i class="fa-solid fa-pen-to-square"></i>
              </a>
              &nbsp;
              <a href="{% url "delete_user" user.id %}">
                <i class="fas fa-trash-alt text-danger"></i>
              </a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
