<!-- @format -->

{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="navbar">
    <h1>Users and Score</h1>
    <div
      class="size-24 rounded-full bg-radial-[at_25%_25%] from-white to-zinc-900 to-75%"
    ></div>

    <a
      href="{% url 'add_user' %}"
      class="btn btn-success"
      ><i class="fa-solid fa-user-plus"></i> Add User
    </a>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Score</th>
        <th scope="col">Position</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.score}}</td>
        <td>{{user.position}}</td>
        <td class="text-center">
          <a
            type="button"
            hreh="/tasks.html"
            class="btn btn-primary"
          >
            view</a
          >
        </td> 
        <td  class="text-center">
            <a href="#">
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            &nbsp;
            <a href="#">
              <i class="fas fa-trash-alt text-danger"></i>
            </a>
          </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
