{% extends 'base.html' %}
{% block content %}
  <header>
    <h2>Active Board</h2>
  </header>

  <div class="container">
    <!-- Masalan, user_id=2 bo'lgan foydalanuvchi -->
    <h1>Foydalanuvchi: Bek Soliyev</h1>
    <p>Bu sahifada <strong>Bek Soliyev</strong> tomonidan berilgan vazifalar ro'yxati va ularning statusi ko'rsatiladi.</p>
    
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Tasks</th>
          <th>Status</th>
          <th>Start time</th>
          <th>End time</th>
        </tr>
      </thead>
      <tbody>
        <!-- Namuna ma'lumotlar -->
        <tr>
          <td>1</td>
          <td>Task B</td>
          <!-- Example split danger button -->
           <!-- Example single danger button -->
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item status-pending" href="#">Jarayonda</a></li>
                        <li><a class="dropdown-item status-completed" href="#">Bajarildi</a></li>
                        <li><a class="dropdown-item status-failed " href="#">Bajarilmadi</a></li>
                        
                    </ul>
                </div>
            </td>

          <td class="status">01.02.2024</td>
          <td class="status">02.02.2024</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Task C</td>
          <td class="status-completed">
            <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item status-pending" href="#">Jarayonda</a></li>
                        <li><a class="dropdown-item status-completed" href="#">Bajarildi</a></li>
                        <li><a class="dropdown-item status-failed " href="#">Bajarilmadi</a></li>
                        
                    </ul>
            </div>
          </td>
          <td class="status">02.02.2024</td>
          <td class="status">04.02.2024</td>
        </tr>
        <!-- Bazadagi user_id=2 bo'lgan vazifalarni dinamik kiritish mumkin -->
      </tbody>
    </table>

    <div class="d-grid gap-2 d-md-block mt-4" >
        <a class="btn btn-primary" href="index.html" type="button">back</a>
        <a class="btn btn-primary" type="button">+ add task</a>
    </div>
  </div>
  {% endblock %}